.nav_container {
  width: 100%;
  padding-top: 15px;
}

.nav_container ul {
  /* width: 100%; */
  display: flex;
  list-style: none;
  justify-content: space-between;
}

.nav_container li {
  text-align: center;
  width: 20%;
  color: black;
  text-decoration: none;
  border-bottom: 1px solid black;
}

.nav_container li:hover {
  border-bottom: 1px solid salmon;
}


.link {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.link:hover {
  color: salmon;
}